/* Generics  */
img{
    max-width: 100%;
}

header{
    background-color: #2D3E50;
}

footer{
    background-color: #3A546D;
}

/* Utils  */
.my-bg-color{
    background-color: #1CBC9C;
}

.line{
    border: 2px solid white;
    height: 0;
}

.my-text-primary{
    color: #1CBC9C;
}

.my-border{
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


