/* Generics  */
header{
    background-color: #2D3E50;
}


/* Utils  */
.my-col{
    background-color: bisque;
    border: 1px solid blue;
    height: 50px;
}

.my-border{
    border: 1px dashed red;
}

.my-card{
    background-color: aquamarine;
    height: 300px;
    width: 70%;
}

.my-img{
    background-color: aquamarine;
    height: 300px;
    width: 100%;
}

.my-parag{
    background-color: bisque;
    height: 70px; 
}

.copy-right{
    height: 100px;
}


/* Profile section  */
.profile{
    background-color: #1CBC9C;
}

.line{
    border: 2px solid white;
    height: 0;
}